body {
  background-color: #fcfcfc;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}
html {
background: url("./images/logoimg.webp"); 
background-position: center;
}
.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Russo One';
    text-align: center;
}